section.works
    svg.triangle(viewBox="0 0 1000 82" preserveAspectRatio="none")
        polygon.triangle__left(points="0,0 0,85 500.5,85 500.5,80")
        polygon.triangle__right(points="500,80 1000,0 1000,85 500,85")
    .anchor.works__anchor
        a.anchor__link(href='#works')
            svg(class='anchor__icon' width="30" height="30")
                use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
    .container
        h2.main-title.works__main-title#works Мои работы
            svg(class='works__bg')
                use(xlink:href="img/svg-sprites/sprite.svg#works_header")
        .slider.works__slider
            .slider__view
                .slider__view-big
                    img(src='img/project-pic-2.jpg' class='slider__view-pic' alt='big-slide')
            .slider__info
                .slider__info-data
                    h3.main-subtitle.slider__main-subtitle Сайт школы онлайн образования
                    .slider__tech html, css, javascript
                    a.btn.btn_green.btn_icon_link.btn_round.slider__link(href='#') Посмотреть сайт
                        svg.btn-icon(height='30' width='30')
                            use(xlink:href='img/svg-sprites/sprite.svg#link')
            .slider__preview
                a.slider__control.slider__control_down(href='#')
                    svg.slider__control-icon.slider__control-icon_down(width='30' height='30')
                        use(xlink:href='img/svg-sprites/sprite.svg#portf_arrow_up')
                a.slider__control.slider__control_up(href='#')
                    svg.slider__control-icon.slider__control-icon_up(width='30' height='30')
                        use(xlink:href='img/svg-sprites/sprite.svg#portf_arrow_up')
                ul.slider__preview-list.slider__preview-list-down
                    each item,i in sliderItems
                        li(class='slider__preview-item '+(i==sliderItems.length-1?'active':'')   data-title=item['data-title'] data-tech=item['data-tech'] data-link=item['data-link'] data-pic=item['src'])
                            img(src=item.src class='slider__preview-pic' alt='preview-pic')
                ul.slider__preview-list.slider__preview-list-up
                    each item,i in sliderItems
                        li(class='slider__preview-item '+(i==1?'active':''))
                            img(src=item.src class='slider__preview-pic' alt='preview-pic')
    include ../../elements/_modal-window

