-
    var sliderItems=[
    {src:'img/project-pic-1.jpg',
    'data-link':'#1',
    'data-tech':'html',
    'data-title':'title-1'},
    {src:'img/project-pic-2.jpg',
    'data-link':'#2',
    'data-tech':'css',
    'data-title':'title-2'},
    {src:'img/project-pic-3.jpg',
    'data-link':'#3',
    'data-tech':'js',
    'data-title':'title-3'},
    {src:'img/project-pic-2.jpg',
    'data-link':'#4',
    'data-tech':'gulp',
    'data-title':'title-4'},
    {src:'img/project-pic-1.jpg',
    'data-link':'#5',
    'data-tech':'mongo',
    'data-title':'title-5'}
    ]
section.works
    svg.triangle(viewBox="0 0 1000 82" preserveAspectRatio="none")
        polygon.triangle__left(points="0,0 0,85 500.5,85 500.5,80")
        polygon.triangle__right(points="500,80 1000,0 1000,85 500,85")
    .anchor.works__anchor
        a.anchor__link(href='#works')
            svg(class='anchor__icon' width="30" height="30")
                use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
    .container
        h2.main-title.works__main-title#works Мои работы
            svg(class='works__bg')
                use(xlink:href="img/svg-sprites/sprite.svg#works_header")
        .slider.works__slider
            .slider__view
                img(src='img/project-pic-2.jpg' class='slider__view-pic' alt='big-slide')
            .slider__info
                .slider__info-data
                    h3.main-subtitle.slider__main-subtitle Сайт школы онлайн образования
                    .slider__tech html, css, javascript
                    a.btn.btn_green.btn_icon_link.btn_round.slider__link(href='#') Посмотреть сайт
            .slider__preview
                .slider__control.slider__control_down
                    svg.slider__control-icon.slider__control-icon_down
                        use(xlink:href='img/svg-sprites/sprite.svg#portf_arrow_up')
                .slider__control.slider__control_up
                    svg.slider__control-icon.slider__control-icon_up
                        use(xlink:href='img/svg-sprites/sprite.svg#portf_arrow_up')
                ul.slider__preview-list.slider__preview-list-down
                    each item,i in sliderItems
                        li(class='slider__preview-item '+(i==sliderItems.length-1?'active':'')   data-title=item['data-title'] data-tech=item['data-tech'] data-link=item['data-link'] data-pic=item['src'])
                            img(src=item.src class='slider__preview-pic' alt='preview-pic')
                ul.slider__preview-list.slider__preview-list-up
                    each item,i in sliderItems
                        li(class='slider__preview-item '+(i==1?'active':''))
                            img(src=item.src class='slider__preview-pic' alt='preview-pic')
    include ../../elements/_modal-window

