-
    var whataboutItems = [
    {pic:'img/teacher-1.png',
    text:'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
    name:'Ковальчук Дмитрий',
    job:'основатель Loftschool'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах! Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах! Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    }
    ];



section.whatabout
    .whatabout__say
        .container
            svg(class='whatabout__bg')
                use(xlink:href="img/svg-sprites/sprite.svg#about_header")
            h2.main-title.whatabout__main-title Что обо мне говорят
            ul.whatabout__list
                each item in whataboutItems
                    li.whatabout__list-item
                        .whatabout__photo
                            img(src=item.pic class='whatabout__pic' alt=item.name)
                        blockquote.whatabout__content=item.text
                        span.whatabout__name=item.name
                        span.whatabout__job=item.job



    .whatabout__feedback
        .container
            .window.feedback-window
                h3.main-subtitle.feedback-window__main-subtitle Связаться со мной
                form.form.feedback-form(name='feddback-form' id='feedback-form' action='/' method='POST')
                    .form__input-elems.feedback-form__elems
                        .form__cont-input.feedback-form__cont-input
                            input(type='text' id='feedback-name'  class='form__input-text' name='name' placeholder='Имя')
                        .form__cont-input.feedback-form__cont-input
                            input(type='text' id='feedback-password' class='form__input-text' name='email' placeholder='Email')
                        .form__cont-input.form__cont-input_textarea.feedback-form__cont-input
                            textarea(id='feedback-message' class='form__input-textarea' name='message' placeholder='Ваше сообщение')
                    .feedback-form__btn-elems
                        button(type='submit' class='btn btn_green btn_border-right feedback-form__btn') Отправить
                        button(type='reset' class='btn btn_green btn_border-right feedback-form__btn') Очистить
            .anchor.anchor_down.whatabout__anchor
                a.anchor__link(href='#header') Наверх
                    svg.anchor__link-icon
                        use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
