-
    var whataboutItems = [
    {pic:'img/teacher-1.png',
    text:'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
    name:'Ковальчук Дмитрий',
    job:'основатель Loftschool'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах! Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах! Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    },
    {pic:'img/teacher-3.png',
    text:'Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    name:'Зар Захаров',
    job:'преподаватель'
    }
    ];



section.whatabout
    .container
        h2.main-title Что обо мне говорят
        ul.whatabout__list
            each item in whataboutItems
                li.whatabout__list-item
                    .whatabout__list-photo
                        img(src=item.pic class='whatabout-pic' alt=item.name)
                    p.whatabout__list-content=item.text
                    span.whatabout__list-name=item.name
                    span.whatabout__list-job=item.job
        .feedback
            h3.main-subtitle Связаться со мной
            form(action='' class='feedback__form')
                .feedback__group-inputs
                    .feedback-text-cont
                        input(type='text' id='feedback-name'  class='feedback-input input-name' name='name' placeholder='Имя')
                    .feedback-text-cont
                        input(type='text' id='feedback-password' class='feedback-input input-email' name='email' placeholder='Email')
                    .feedback-textarea-cont
                        textarea(id='feddback-message' class='feedback-textarea input-message' name='message' placeholder='Ваше сообщение')
                .feedback__group-btns
                    button(type='submit' class='form-btn btn-green') Отправить
                    button(type='reset' class='form-btn btn-green') Очистить
        a.up-arrow(href='#header')
            svg
                use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
