-
    var aboutMeInfo = ['Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.',
    'Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!',]
-
    var skillText='Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.'

-
    var skills = [
    {title:'Frontend',
    list:[{name:'HTML5',value:90},{name:'CSS3',value:80},{name:'JavaScript & jQuery',value:70}]
    },
    {title:'Backend',
    list:[{name:'PHP',value:40},{name:'mySQL',value:60},{name:'Node.js & npm',value:75},{name:'Mongo.db',value:50}]
    },
    {title:'WorkFlow',
    list:[{name:'Git',value:95},{name:'Gulp',value:80},{name:'Bower',value:90}]
    }
    ]


section.about-me
    svg.triangle(viewBox="0 0 1000 82" preserveAspectRatio="none")
        polygon.triangle__left(points="0,0 0,85 500.5,85 500.5,80")
        polygon.triangle__right(points="500,80 1000,0 1000,85 500,85")
    .container
        .anchor.works__anchor
            a.anchor__link(href='#aboutme')
                svg(class='anchor__icon' width="30" height="30")
                    use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
        .about-me__left
            svg(class='about-me__bg')
                use(xlink:href='img/svg-sprites/sprite.svg#about_header')
            h2.main-title.about-me__main-title#aboutme Обо мне
            .about-me__info
                .about-me__photo
                    img(src='img/man-photo.jpg' class='about-me__pic' alt='big-photo')
                .about-me__info-content
                    h3.main-subtitle.about-me__main-subtitle-left Кто я
                    each item in aboutMeInfo
                        p.about-me__text=item
        .about-me__right
            h3.main-subtitle.about-me__main-subtitle-right Чем я могу быть вам полезен
            p.about-me__text.about-me__text-right= skillText
            .about-me__skill
                each skill in skills
                    .skill
                        .skill__title= skill.title
                        ul.skill__list
                            each list in skill.list
                                li.skill__list-item(data-value=list.value)
                                    svg(class='skill__svg' viewBox='0 0 100 100')
                                        circle(cx='50' cy='50' r='50' fill='#dfdcd5')
                                        circle(cx='50' cy='50' r='34' fill='#f4f5f0')
                                        circle(class='skill__path' fill='transparent' stroke='#6c9c5a' stroke-width='16' cx='50' cy='50' r='42')
                                    .skill__name= list.name
    include ../../elements/_modal-window


